#homepage
  
  %section
    #hero
      .copy
        %h1 My name is Tabitha and I’m a Recreation Therapist.
        %p I help people gain a higher quality of life through recreation therapy. I am passionate about helping people overcome their obstacles to reach their full potential.
        %p.signature Tabitha Pitts, CTRS, QMHP
    #card
      %ul
        %li Certified Therapeutic Recreation Specialist (CTRS) through the National Council for Therapeutic Recreation (NCTRC)
        %li BS in Therapeutic Recreation and Outdoor Education
        %li Certified in CPR, AED, and First Aid
      %p.signature
        Tabitha Pitts
        %span.qualifications CTRS, QMHP
  
%section
  .feature-box
    %i.new New!
    %h2 Academic Skills Development
    %p Study skills, organization, time management, increased focus, experiential learning, appropriate rewards and consequences.
  .feature-box
    %h2 Academic Skills Development
    %p Study skills, organization, time management, increased focus, experiential learning, appropriate rewards and consequences.
  .feature-box
    %h2 Academic Skills Development
    %p Study skills, organization, time management, increased focus, experiential learning, appropriate rewards and consequences.
  