$light-gray: #d9d9d9
$medium-gray: #4c4c4c
$rcr-blue: #4a5eff
$rcr-yellow: #f2c900

@mixin clearfix
  &:after
    content: ""
    display: block
    clear: both

body
  font-family: 'Source Sans Pro', sans-serif
  color: $medium-gray

.bound
  width: 940px
  margin: 0 auto

#top-menu
  margin: 0 auto 30px
  padding: 30px 0
  font-weight: 200
  font-size: 18px
  border-bottom: 1px solid $light-gray
  @include clearfix
  a.logo
    position: relative
    display: block
    float: left
    width: 183px
    height: 50px
    &:before
      content: ""
      position: absolute
      display: block
      width: 183px
      height: 50px
      background: url(/assets/logo.png)
  ul
    float: right
    li
      float: left
      margin: 0 0 0 30px
      a
        display: block
        line-height: 50px
        color: $medium-gray
        text-decoration: none
        &:hover
          color: $rcr-blue
  